In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('instance').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/18 21:44:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [11]:
orders = spark.read.csv('/Users/adhoc/git/retail_db/orders', schema='order_customer_id long, order_date date, order_id long, order_status string')
orders.printSchema()
orders.show()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

+-----------------+----------+--------+---------------+
|order_customer_id|order_date|order_id|   order_status|
+-----------------+----------+--------+---------------+
|                1|2013-07-25|   11599|         CLOSED|
|                2|2013-07-25|     256|PENDING_PAYMENT|
|                3|2013-07-25|   12111|       COMPLETE|
|                4|2013-07-25|    8827|         CLOSED|
|                5|2013-07-25|   11318|       COMPLETE|
|                6|2013-07-25|    7130|       COMPLETE|
|                7|2013-07-25|    4530|       COMPLETE|
|                8|2013-07-25|    2911|     PROCESSING|
|                9|2013-07-25|    5657|PENDING_PAYMENT|
|               10|2013-07-25|    5648|PENDING_PAYMENT|
|               11|2013-07-25|     918| PAYMENT_REVIEW|
|               12|2013-07-25|    1837|         CLOSED|
|               13|2013-07-25|    9149|PENDING_PAYMENT|
|               14|2013-07-25|    9842|     PROCESSING|
|               15|2013-07-25|    2568|       COMPLETE|
|               16|2013-07-25|    7276|PENDING_PAYMENT|
|               17|2013-07-25|    2667|       COMPLETE|
|               18|2013-07-25|    1205|         CLOSED|
|               19|2013-07-25|    9488|PENDING_PAYMENT|
|               20|2013-07-25|    9198|     PROCESSING|
+-----------------+----------+--------+---------------+
only showing top 20 rows

In [37]:
order_items = spark.read.csv('/Users/adhoc/git/retail_db/order_items', schema='order_item_id long, order_item_order_id long, order_item_product_id long, order_item_quantity double, order_item_subtotal double, order_item_product_price double')
order_items.printSchema()
order_items.show()

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_quantity: double (nullable = true)
 |-- order_item_subtotal: double (nullable = true)
 |-- order_item_product_price: double (nullable = true)

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|                  1|                  957|                1.0|             299.98|                  299.98|
|            2|                  2|                 1073|                1.0|             199.99|                  199.99|
|            3|                  2|                  502|                5.0|              250.0|                    50.0|
|            4|                  2|                  403|                1.0|             129.99|                  129.99|
|            5|                  4|                  897|                2.0|              49.98|                   24.99|
|            6|                  4|                  365|                5.0|             299.95|                   59.99|
|            7|                  4|                  502|                3.0|              150.0|                    50.0|
|            8|                  4|                 1014|                4.0|             199.92|                   49.98|
|            9|                  5|                  957|                1.0|             299.98|                  299.98|
|           10|                  5|                  365|                5.0|             299.95|                   59.99|
|           11|                  5|                 1014|                2.0|              99.96|                   49.98|
|           12|                  5|                  957|                1.0|             299.98|                  299.98|
|           13|                  5|                  403|                1.0|             129.99|                  129.99|
|           14|                  7|                 1073|                1.0|             199.99|                  199.99|
|           15|                  7|                  957|                1.0|             299.98|                  299.98|
|           16|                  7|                  926|                5.0|              79.95|                   15.99|
|           17|                  8|                  365|                3.0|             179.97|                   59.99|
|           18|                  8|                  365|                5.0|             299.95|                   59.99|
|           19|                  8|                 1014|                4.0|             199.92|                   49.98|
|           20|                  8|                  502|                1.0|               50.0|                    50.0|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

## Common aggreagate functions available as part of pyspark.sql.functions
* `count`
* `sum`
*  `min`
*  `max`
*  `avg`

Also statistical functions such as `stddev`

In [17]:
orders.select(count('*')).show()

from pyspark.sql.functions import count
orders.count()

+--------+
|count(1)|
+--------+
|   68883|
+--------+

68883

In [18]:
orders.groupBy('order_status').agg(count('*')).show()

+---------------+--------+
|   order_status|count(1)|
+---------------+--------+
|PENDING_PAYMENT|   15030|
|       COMPLETE|   22899|
|        ON_HOLD|    3798|
| PAYMENT_REVIEW|     729|
|     PROCESSING|    8275|
|         CLOSED|    7556|
|SUSPECTED_FRAUD|    1558|
|        PENDING|    7610|
|       CANCELED|    1428|
+---------------+--------+

## Total aggregations on Spark Data Frame
Get number of items, total quantity as well as revenue for a given order item order id eg. 2

In [53]:
from pyspark.sql.functions import count, sum

order_items.filter('order_item_order_id = 2').show(),
order_items.filter('order_item_order_id = 2').select(sum('order_item_subtotal').alias('order_revenue')).show(),
order_items.filter('order_item_order_id = 2').select(sum('order_item_quantity').alias('order total quantity')).show()
order_items.count()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            2|                  2|                 1073|                1.0|             199.99|                  199.99|
|            3|                  2|                  502|                5.0|              250.0|                    50.0|
|            4|                  2|                  403|                1.0|             129.99|                  129.99|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+

+-------------+
|order_revenue|
+-------------+
|       579.98|
+-------------+

+--------------------+
|order total quantity|
+--------------------+
|                 7.0|
+--------------------+

172198

In [47]:
order_items. \
    filter('order_item_order_id = 2'). \
    select(count('order_item_order_id').alias('order_item_count'),
           sum('order_item_quantity').alias('order_quantity'),
           sum('order_item_subtotal').alias('order_revenue'),). \
    show()

+----------------+--------------+-------------+
|order_item_count|order_quantity|order_revenue|
+----------------+--------------+-------------+
|               3|           7.0|       579.98|
+----------------+--------------+-------------+

## Getting count of the Spark Data Frame

In [48]:
order_items.count() # action - execution is called immediately

172198

In [49]:
from pyspark.sql.functions import count
order_items.select(count('*')).show()

+--------+
|count(1)|
+--------+
|  172198|
+--------+

## Overview `groupBy` on Spark Data Frame

In [55]:
# min on every column where there is no column specified in groupBy 
order_items.groupBy().min().show()

+------------------+------------------------+--------------------------+------------------------+------------------------+-----------------------------+
|min(order_item_id)|min(order_item_order_id)|min(order_item_product_id)|min(order_item_quantity)|min(order_item_subtotal)|min(order_item_product_price)|
+------------------+------------------------+--------------------------+------------------------+------------------------+-----------------------------+
|                 1|                       1|                        19|                     1.0|                    9.99|                         9.99|
+------------------+------------------------+--------------------------+------------------------+------------------------+-----------------------------+

In [60]:
orders.groupBy().min().show() # mins on numeric types only - weird
orders.dtypes

+----------------------+-------------+
|min(order_customer_id)|min(order_id)|
+----------------------+-------------+
|                     1|            1|
+----------------------+-------------+

[('order_customer_id', 'bigint'),
 ('order_date', 'date'),
 ('order_id', 'bigint'),
 ('order_status', 'string')]

## Perform grouped aggragations using direct functions on Spark Data Frame

In [62]:
order_items_grouped = order_items.groupBy('order_item_order_id')
type(order_items_grouped)

pyspark.sql.group.GroupedData

In [68]:
from pyspark.sql.functions import count, sum
order_items_grouped.count().show()

+-------------------+-----+
|order_item_order_id|count|
+-------------------+-----+
|                 29|    5|
|                474|    5|
|                964|    4|
|               1677|    5|
|               1806|    3|
|               1950|    5|
|               2214|    2|
|               2250|    4|
|               2453|    4|
|               2509|    4|
|               2529|    1|
|               2927|    5|
|               3091|    3|
|               3764|    1|
|               4590|    5|
|               4894|    4|
|               5385|    4|
|               5409|    3|
|               6721|    2|
|               7225|    4|
+-------------------+-----+
only showing top 20 rows

In [69]:
order_items_grouped. \
    count(). \
    withColumnRenamed('count', 'other_count'). \
    show()

+-------------------+-----------+
|order_item_order_id|other_count|
+-------------------+-----------+
|                 29|          5|
|                474|          5|
|                964|          4|
|               1677|          5|
|               1806|          3|
|               1950|          5|
|               2214|          2|
|               2250|          4|
|               2453|          4|
|               2509|          4|
|               2529|          1|
|               2927|          5|
|               3091|          3|
|               3764|          1|
|               4590|          5|
|               4894|          4|
|               5385|          4|
|               5409|          3|
|               6721|          2|
|               7225|          4|
+-------------------+-----------+
only showing top 20 rows

In [71]:
# Get sum of all numeric fields
order_items_grouped.sum().show()

+-------------------+------------------+------------------------+--------------------------+------------------------+------------------------+-----------------------------+
|order_item_order_id|sum(order_item_id)|sum(order_item_order_id)|sum(order_item_product_id)|sum(order_item_quantity)|sum(order_item_subtotal)|sum(order_item_product_price)|
+-------------------+------------------+------------------------+--------------------------+------------------------+------------------------+-----------------------------+
|                 29|               425|                     145|                      3897|                     9.0|                 1109.85|            909.9300000000001|
|                474|              5815|                    2370|                      4508|                    13.0|       774.8199999999999|           374.94000000000005|
|                964|              9586|                    3856|                      2964|                    11.0|       739.8800000000001|           499.95000000000005|
|               1677|             20860|                    8385|                      2357|                    14.0|       649.9200000000001|                       277.97|
|               1806|             13545|                    5418|                      1871|                     8.0|                  789.94|                       509.97|
|               1950|             24425|                    9750|                      4180|                    12.0|      1015.8700000000001|                       733.94|
|               2214|             11099|                    4428|                       693|                     5.0|                  449.96|                       149.99|
|               2250|             22534|                    9000|                      2236|                    10.0|                  889.94|                       569.96|
|               2453|             24530|                    9812|                      2607|                     7.0|       999.9300000000001|                       749.95|
|               2509|             25090|                   10036|                      2729|                     4.0|                  889.94|                       889.94|
|               2529|              6330|                    2529|                       365|                     1.0|                   59.99|                        59.99|
|               2927|             36510|                   14635|                      3833|                     8.0|       999.9100000000001|                       819.94|
|               3091|             23079|                    9273|                      2598|                     5.0|      469.93000000000006|           389.95000000000005|
|               3764|              9358|                    3764|                       822|                     2.0|                   95.98|                        47.99|
|               4590|             57515|                   22950|                      3725|                    11.0|                  949.83|            649.9300000000001|
|               4894|             49026|                   19576|                      3178|                     4.0|                  899.94|                       899.94|
|               5385|             53730|                   21540|                      2347|                    10.0|                  629.86|                       309.96|
|               5409|             40482|                   16227|                      1513|                     7.0|       699.9200000000001|           459.96000000000004|
|               6721|             33587|                   13442|                      1129|                     3.0|                  139.99|            89.99000000000001|
|               7225|             72338|                   28900|                      3221|                    11.0|                  774.86|           434.94000000000005|
+-------------------+------------------+------------------------+--------------------------+------------------------+------------------------+-----------------------------+
only showing top 20 rows

In [73]:
orders.groupBy('order_date').sum().show()

+----------+----------------------+-------------+
|order_date|sum(order_customer_id)|sum(order_id)|
+----------+----------------------+-------------+
|2013-09-09|               3087782|      1499494|
|2013-09-19|               2830266|      1300695|
|2014-06-03|               7200647|       793696|
|2013-09-12|               2898570|      1125297|
|2014-01-24|               6326762|      1010050|
|2014-02-16|               9143813|      1559341|
|2014-06-11|               7447538|       879243|
|2013-11-18|               4059151|      1196066|
|2014-02-18|               7931814|      1413476|
|2013-08-14|               3371810|      1155162|
|2013-10-05|               3236782|      1265413|
|2014-07-04|               8742268|       895348|
|2014-07-06|               6222972|       677105|
|2013-09-18|               3841581|      1511642|
|2013-09-20|               2247287|       851705|
|2013-09-25|               4304871|      1778180|
|2014-06-13|              14029444|      1609465|
|2013-11-23|               5866255|      1555235|
|2013-09-14|               3862076|      1716454|
|2014-02-24|               6819289|      1108370|
+----------+----------------------+-------------+
only showing top 20 rows

In [78]:
order_items_grouped = order_items. \
    select('order_item_order_id', 'order_item_quantity', 'order_item_subtotal'). \
    groupBy('order_item_order_id')

In [88]:
order_items_grouped.sum().show()
order_items_grouped.sum('order_item_quantity', 'order_item_subtotal').show()

from pyspark.sql.functions import round
order_items_grouped. \
    sum('order_item_quantity', 'order_item_subtotal'). \
    toDF('order_item_quantity', 'order_quantity', 'order_revenue'). \
    withColumn('order_revenue', round('order_revenue', 2)). \
    show()

+-------------------+------------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_order_id)|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+------------------------+
|                 29|                     145|                     9.0|                 1109.85|
|                474|                    2370|                    13.0|       774.8199999999999|
|                964|                    3856|                    11.0|       739.8800000000001|
|               1677|                    8385|                    14.0|       649.9200000000001|
|               1806|                    5418|                     8.0|                  789.94|
|               1950|                    9750|                    12.0|      1015.8700000000001|
|               2214|                    4428|                     5.0|                  449.96|
|               2250|                    9000|                    10.0|                  889.94|
|               2453|                    9812|                     7.0|       999.9300000000001|
|               2509|                   10036|                     4.0|                  889.94|
|               2529|                    2529|                     1.0|                   59.99|
|               2927|                   14635|                     8.0|       999.9100000000001|
|               3091|                    9273|                     5.0|      469.93000000000006|
|               3764|                    3764|                     2.0|                   95.98|
|               4590|                   22950|                    11.0|                  949.83|
|               4894|                   19576|                     4.0|                  899.94|
|               5385|                   21540|                    10.0|                  629.86|
|               5409|                   16227|                     7.0|       699.9200000000001|
|               6721|                   13442|                     3.0|                  139.99|
|               7225|                   28900|                    11.0|                  774.86|
+-------------------+------------------------+------------------------+------------------------+
only showing top 20 rows

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+
|                 29|                     9.0|                 1109.85|
|                474|                    13.0|       774.8199999999999|
|                964|                    11.0|       739.8800000000001|
|               1677|                    14.0|       649.9200000000001|
|               1806|                     8.0|                  789.94|
|               1950|                    12.0|      1015.8700000000001|
|               2214|                     5.0|                  449.96|
|               2250|                    10.0|                  889.94|
|               2453|                     7.0|       999.9300000000001|
|               2509|                     4.0|                  889.94|
|               2529|                     1.0|                   59.99|
|               2927|                     8.0|       999.9100000000001|
|               3091|                     5.0|      469.93000000000006|
|               3764|                     2.0|                   95.98|
|               4590|                    11.0|                  949.83|
|               4894|                     4.0|                  899.94|
|               5385|                    10.0|                  629.86|
|               5409|                     7.0|       699.9200000000001|
|               6721|                     3.0|                  139.99|
|               7225|                    11.0|                  774.86|
+-------------------+------------------------+------------------------+
only showing top 20 rows

+-------------------+--------------+-------------+
|order_item_quantity|order_quantity|order_revenue|
+-------------------+--------------+-------------+
|                 29|           9.0|      1109.85|
|                474|          13.0|       774.82|
|                964|          11.0|       739.88|
|               1677|          14.0|       649.92|
|               1806|           8.0|       789.94|
|               1950|          12.0|      1015.87|
|               2214|           5.0|       449.96|
|               2250|          10.0|       889.94|
|               2453|           7.0|       999.93|
|               2509|           4.0|       889.94|
|               2529|           1.0|        59.99|
|               2927|           8.0|       999.91|
|               3091|           5.0|       469.93|
|               3764|           2.0|        95.98|
|               4590|          11.0|       949.83|
|               4894|           4.0|       899.94|
|               5385|          10.0|       629.86|
|               5409|           7.0|       699.92|
|               6721|           3.0|       139.99|
|               7225|          11.0|       774.86|
+-------------------+--------------+-------------+
only showing top 20 rows

## Grouped aggregations using `agg` on a Spark Data Frame

In [90]:
order_item_grouped = order_items. \
    groupBy('order_item_order_id')

In [94]:
order_items_grouped.sum('order_item_quantity', 'order_item_subtotal').show()

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+
|                 29|                     9.0|                 1109.85|
|                474|                    13.0|       774.8199999999999|
|                964|                    11.0|       739.8800000000001|
|               1677|                    14.0|       649.9200000000001|
|               1806|                     8.0|                  789.94|
|               1950|                    12.0|      1015.8700000000001|
|               2214|                     5.0|                  449.96|
|               2250|                    10.0|                  889.94|
|               2453|                     7.0|       999.9300000000001|
|               2509|                     4.0|                  889.94|
|               2529|                     1.0|                   59.99|
|               2927|                     8.0|       999.9100000000001|
|               3091|                     5.0|      469.93000000000006|
|               3764|                     2.0|                   95.98|
|               4590|                    11.0|                  949.83|
|               4894|                     4.0|                  899.94|
|               5385|                    10.0|                  629.86|
|               5409|                     7.0|       699.9200000000001|
|               6721|                     3.0|                  139.99|
|               7225|                    11.0|                  774.86|
+-------------------+------------------------+------------------------+
only showing top 20 rows

In [98]:
order_items_grouped.agg(sum('order_item_quantity'), sum('order_item_subtotal')).show()
order_items_grouped.agg(sum('order_item_quantity').alias('order_quantity'), round(sum('order_item_subtotal'), 2).alias('order_revenue')).show()

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+
|                 29|                     9.0|                 1109.85|
|                474|                    13.0|       774.8199999999999|
|                964|                    11.0|       739.8800000000001|
|               1677|                    14.0|       649.9200000000001|
|               1806|                     8.0|                  789.94|
|               1950|                    12.0|      1015.8700000000001|
|               2214|                     5.0|                  449.96|
|               2250|                    10.0|                  889.94|
|               2453|                     7.0|       999.9300000000001|
|               2509|                     4.0|                  889.94|
|               2529|                     1.0|                   59.99|
|               2927|                     8.0|       999.9100000000001|
|               3091|                     5.0|      469.93000000000006|
|               3764|                     2.0|                   95.98|
|               4590|                    11.0|                  949.83|
|               4894|                     4.0|                  899.94|
|               5385|                    10.0|                  629.86|
|               5409|                     7.0|       699.9200000000001|
|               6721|                     3.0|                  139.99|
|               7225|                    11.0|                  774.86|
+-------------------+------------------------+------------------------+
only showing top 20 rows

+-------------------+--------------+-------------+
|order_item_order_id|order_quantity|order_revenue|
+-------------------+--------------+-------------+
|                 29|           9.0|      1109.85|
|                474|          13.0|       774.82|
|                964|          11.0|       739.88|
|               1677|          14.0|       649.92|
|               1806|           8.0|       789.94|
|               1950|          12.0|      1015.87|
|               2214|           5.0|       449.96|
|               2250|          10.0|       889.94|
|               2453|           7.0|       999.93|
|               2509|           4.0|       889.94|
|               2529|           1.0|        59.99|
|               2927|           8.0|       999.91|
|               3091|           5.0|       469.93|
|               3764|           2.0|        95.98|
|               4590|          11.0|       949.83|
|               4894|           4.0|       899.94|
|               5385|          10.0|       629.86|
|               5409|           7.0|       699.92|
|               6721|           3.0|       139.99|
|               7225|          11.0|       774.86|
+-------------------+--------------+-------------+
only showing top 20 rows

In [102]:
order_items_grouped.agg({'order_item_quantity': 'sum', 'order_item_subtotal': 'sum'}).show()
order_items_grouped. \
    agg({'order_item_quantity': 'sum', 'order_item_subtotal': 'sum'}). \
    toDF('order_id', 'order_revenue', 'order_quantity',). \
    withColumn('order_revenue', round('order_revenue', 2)). \
    show()

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_subtotal)|sum(order_item_quantity)|
+-------------------+------------------------+------------------------+
|                 29|                 1109.85|                     9.0|
|                474|       774.8199999999999|                    13.0|
|                964|       739.8800000000001|                    11.0|
|               1677|       649.9200000000001|                    14.0|
|               1806|                  789.94|                     8.0|
|               1950|      1015.8700000000001|                    12.0|
|               2214|                  449.96|                     5.0|
|               2250|                  889.94|                    10.0|
|               2453|       999.9300000000001|                     7.0|
|               2509|                  889.94|                     4.0|
|               2529|                   59.99|                     1.0|
|               2927|       999.9100000000001|                     8.0|
|               3091|      469.93000000000006|                     5.0|
|               3764|                   95.98|                     2.0|
|               4590|                  949.83|                    11.0|
|               4894|                  899.94|                     4.0|
|               5385|                  629.86|                    10.0|
|               5409|       699.9200000000001|                     7.0|
|               6721|                  139.99|                     3.0|
|               7225|                  774.86|                    11.0|
+-------------------+------------------------+------------------------+
only showing top 20 rows

+--------+-------------+--------------+
|order_id|order_revenue|order_quantity|
+--------+-------------+--------------+
|      29|      1109.85|           9.0|
|     474|       774.82|          13.0|
|     964|       739.88|          11.0|
|    1677|       649.92|          14.0|
|    1806|       789.94|           8.0|
|    1950|      1015.87|          12.0|
|    2214|       449.96|           5.0|
|    2250|       889.94|          10.0|
|    2453|       999.93|           7.0|
|    2509|       889.94|           4.0|
|    2529|        59.99|           1.0|
|    2927|       999.91|           8.0|
|    3091|       469.93|           5.0|
|    3764|        95.98|           2.0|
|    4590|       949.83|          11.0|
|    4894|       899.94|           4.0|
|    5385|       629.86|          10.0|
|    5409|       699.92|           7.0|
|    6721|       139.99|           3.0|
|    7225|       774.86|          11.0|
+--------+-------------+--------------+
only showing top 20 rows

In [107]:
# keys are to be unique
order_items_grouped. \
    agg({'order_item_quantity': 'sum', 'order_item_quantity': 'min'}). \
    show()
# column approach is to be used in case we want to repeat the key
from pyspark.sql.functions import min
order_items_grouped. \
    agg(
        sum('order_item_quantity'), 
        min('order_item_quantity')
    ). \
    show()

+-------------------+------------------------+
|order_item_order_id|min(order_item_quantity)|
+-------------------+------------------------+
|                 29|                     1.0|
|                474|                     1.0|
|                964|                     1.0|
|               1677|                     1.0|
|               1806|                     1.0|
|               1950|                     1.0|
|               2214|                     1.0|
|               2250|                     1.0|
|               2453|                     1.0|
|               2509|                     1.0|
|               2529|                     1.0|
|               2927|                     1.0|
|               3091|                     1.0|
|               3764|                     2.0|
|               4590|                     1.0|
|               4894|                     1.0|
|               5385|                     1.0|
|               5409|                     1.0|
|               6721|                     1.0|
|               7225|                     1.0|
+-------------------+------------------------+
only showing top 20 rows

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|min(order_item_quantity)|
+-------------------+------------------------+------------------------+
|                 29|                     9.0|                     1.0|
|                474|                    13.0|                     1.0|
|                964|                    11.0|                     1.0|
|               1677|                    14.0|                     1.0|
|               1806|                     8.0|                     1.0|
|               1950|                    12.0|                     1.0|
|               2214|                     5.0|                     1.0|
|               2250|                    10.0|                     1.0|
|               2453|                     7.0|                     1.0|
|               2509|                     4.0|                     1.0|
|               2529|                     1.0|                     1.0|
|               2927|                     8.0|                     1.0|
|               3091|                     5.0|                     1.0|
|               3764|                     2.0|                     2.0|
|               4590|                    11.0|                     1.0|
|               4894|                     4.0|                     1.0|
|               5385|                    10.0|                     1.0|
|               5409|                     7.0|                     1.0|
|               6721|                     3.0|                     1.0|
|               7225|                    11.0|                     1.0|
+-------------------+------------------------+------------------------+
only showing top 20 rows